.projects {
    padding: 9.8rem 0;
    background: var(--color-floral-white);
}

/* ---------------------------------------------------- */
/* ----------- Projects - List --------------- */
/* ---------------------------------------------------- */

.projectsList {
    display: flex;
    flex-direction: column;
    gap:20rem;
}

/* ---------------------------------------------------- */
/* ----------- Media - Queries --------------- */
/* ---------------------------------------------------- */

@media (max-width: 60em) {
    .projectsList{
        gap:10rem;
    }
}
