.about{
    padding: 9.8rem 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.aboutContainer{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: 9.8rem;
}


/* ---------------------------------------------------- */
/* ----------- About - Image --------------- */
/* ---------------------------------------------------- */

.aboutImageContainer{
    aspect-ratio: 2/2;
}

.aboutImage{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 22px;
}

/* ---------------------------------------------------- */
/* ----------- Media - Queries --------------- */
/* ---------------------------------------------------- */

@media (max-width:60em){
    .aboutImageContainer{
        margin: 0 auto;
    }

    .aboutContainer{
        max-width: 45rem;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}